.posts-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:20px;
    padding: 10px 20px;
}
.posts-item{
    border: solid rgb(97, 95, 95);
    padding: 10px;
    border-radius: 5px;


    
}
h2{
    text-transform: capitalize
}
h1{
    text-align: center;
}