.posts-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:20px;
    padding: 10px 20px;
}
.posts-item{
    border: solid rgb(97, 95, 95);
    padding: 10px;
    border-radius: 5px;


    
}
h2{
    text-transform: capitalize
}
h1{
    text-align: center;
}
.posts-header{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}
.posts-header > button{
    padding: 1px 16px;
    border: none;
    background-color: green;
    color: white;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    font-weight: bold;
}

    .action-buttons{
        display: flex;
        justify-content: space-between;
align-items: center;
        bottom: 0;
    }